# **Proyecto 1**
## Mineria de Datos

#### Integrantes:
- Pedro Pablo Arriola Jimenez (20188)
- Jose Rodrigo Barrera Garcia (20807)
- Alejandro Jose Gomez Hernandez (20347)
- Oscar Fernando Lopez Barrios (20679)
- Roberto Vallecillos Chinchilla (20441)

### **Problematica**

### Seccion 1.1 - Carga de datos

In [1]:
# Se importan las librerias necesarias para poder trabajar con los datos
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Se cargaran los datos por año en diferentes dataframes
df_2009 = pd.read_csv('./data/Nacimientos2009.csv')
df_2010 = pd.read_csv('./data/Nacimientos2010.csv')
df_2011 = pd.read_csv('./data/Nacimientos2011.csv')
df_2012 = pd.read_csv('./data/Nacimientos2012.csv')
df_2013 = pd.read_csv('./data/Nacimientos2013.csv')
df_2014 = pd.read_csv('./data/Nacimientos2014.csv')
df_2015 = pd.read_csv('./data/Nacimientos2015.csv')
df_2016 = pd.read_csv('./data/Nacimientos2016.csv')
df_2017 = pd.read_csv('./data/Nacimientos2017.csv')
df_2018 = pd.read_csv('./data/Nacimientos2018.csv')
df_2019 = pd.read_csv('./data/Nacimientos2019.csv')
df_2020 = pd.read_csv('./data/Nacimientos2020.csv')
df_2021 = pd.read_csv('./data/Nacimientos2021.csv')

In [3]:
# Ahora se le asignara a los datos el año correspondiente para identificar
df_2009['Año'] = 2009
df_2010['Año'] = 2010
df_2011['Año'] = 2011
df_2012['Año'] = 2012
df_2013['Año'] = 2013
df_2014['Año'] = 2014
df_2015['Año'] = 2015
df_2016['Año'] = 2016
df_2017['Año'] = 2017
df_2018['Año'] = 2018
df_2019['Año'] = 2019
df_2020['Año'] = 2020
df_2021['Año'] = 2021

In [4]:
# Ahora se unen todos los dataframes en uno solo para tener completo el dataset
dfs = [df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021]

df_merged = pd.concat(dfs, ignore_index=True)

df_merged.head()

  Departamentoderesidencia   Total Soltera  Casada Unida Ignorado   Año
0                Guatemala  58,906  27,439  31,343    55       69  2009
1               ElProgreso   3,814   1,553   2,243    13        5  2009
2             Sacatepéquez   6,708   3,825   2,874     5        4  2009
3            Chimaltenango  14,482   9,898   4,566    11        7  2009
4                Escuintla  14,552   4,993   9,437    67       55  2009

### 1.2 - Limpieza de datos

In [5]:
# Se reemplazaran los valores faltantes con 0
df_merged = df_merged.replace('-', '0')
df_merged

    Departamentoderesidencia   Total Soltera  Casada Unida Ignorado   Año
0                  Guatemala  58,906  27,439  31,343    55       69  2009
1                 ElProgreso   3,814   1,553   2,243    13        5  2009
2               Sacatepéquez   6,708   3,825   2,874     5        4  2009
3              Chimaltenango  14,482   9,898   4,566    11        7  2009
4                  Escuintla  14,552   4,993   9,437    67       55  2009
..                       ...     ...     ...     ...   ...      ...   ...
307               Chiquimula  10,388   7,331   3,043     8        6  2021
308                   Jalapa   8,707   6,272   2,434     1        0  2021
309                  Jutiapa  10,170   6,595   3,557    18        0  2021
310               Extranjero     328     250      40     0       38  2021
311                 Ignorado      75      13       1     0       61  2021

[312 rows x 7 columns]

In [6]:
# Se elimina la colunma 'Total'
df_merged = df_merged.drop('Total', axis=1)

In [7]:
# Se hace casting de los datos al tipo de datos correcto de cada columna y se manejan valores NaN
# Se hace casting de los datos al tipo de datos correcto de cada columna y se manejan valores NaN
df_merged['Soltera'] = df_merged['Soltera'].str.replace(',', '').fillna(0).astype(int)
df_merged['Casada'] = df_merged['Casada'].str.replace(',', '').fillna(0).astype(int)
df_merged['Unida'] = df_merged['Unida'].str.replace(',', '').fillna(0).astype(int)
df_merged['Ignorado'] = df_merged['Ignorado'].str.replace(',', '').fillna(0).astype(int)

In [8]:
# Se descartan todas las filas de 'Extranjero' e 'Ignorado' ya que se esta estudiando la parte geografica
df_merged = df_merged[(df_merged['Departamentoderesidencia'] != 'Extranjero') & (df_merged['Departamentoderesidencia'] != 'Ignorado')]

In [9]:
# Crear un diccionario de mapeo de departamentos a valores numéricos
departamentos = {
    'Guatemala': 1,
    'ElProgreso': 2,
    'Sacatepéquez': 3,
    'Chimaltenango': 4,
    'Escuintla': 5,
    'SantaRosa': 6,
    'Sololá': 7,
    'Totonicapán': 8,
    'Quetzaltenango': 9,
    'Suchitepéquez': 10,
    'Retalhuleu': 11,
    'SanMarcos': 12,
    'Huehuetenango': 13,
    'Quiché': 14,
    'BajaVerapaz': 15,
    'AltaVerapaz': 16,
    'Petén': 17,
    'Izabal': 18,
    'Zacapa': 19,
    'Chiquimula': 20,
    'Jalapa': 21,
    'Jutiapa': 22
}

# Aplicar el mapeo de departamentos al DataFrame
df_merged['Departamento'] = df_merged['Departamentoderesidencia'].map(departamentos)

# Eliminar la columna 'Departamentoderesidencia' original
df_merged = df_merged.drop('Departamentoderesidencia', axis=1)

### 1.3 -  Analisis exploratorio de los datos

In [10]:
# Se observan los primeros 10 datos del dataset
df_merged.head(10)

   Soltera  Casada  Unida  Ignorado   Año  Departamento
0    27439   31343     55         0  2009             1
1     1553    2243     13         0  2009             2
2     3825    2874      5         0  2009             3
3     9898    4566     11         0  2009             4
4     4993    9437     67         0  2009             5

In [ ]:
# Se observan los ultimos 10 datos del dataset
df_merged.tail(10)